@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    background-color: #864462;
}

html {
    background: linear-gradient(to right, #4A569D, #DC2424);
    height: 100vh;
}

body {    
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.animate {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .animate {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

